/* Bahan Masakan */
#bahan-masakan {
  background-color: var(--background);
  padding-bottom: 72px;
}

@media screen and (max-width: 600px) {
  .bahan-masakan {
    height: 260px !important;
  }

  .warna {
    border-radius: 0 !important;
    background-color: var(--white);
    overflow: auto;
  }
}
.warna {
  border-radius: 20px 20px 6px 6px;
  background-color: var(--white);
  overflow: auto;
}

.padingcustom {
  padding: 48px;
  width: 260px;
}
.warna-menu {
  left: 9%;
  border-radius: 50px 50px 0px 0px;
  background-color: var(--primary-orange2);
  width: 80%;
  bottom: 0;
}
