/* customer-review */
#ReviewCustomer {
  background-color: var(--background);
  padding-bottom: 72px;
}

@media screen and (max-width: 600px) {
  .ReviewCustomer {
    height: 260px !important;
  }

  .warna {
    border-radius: 0 !important;
    /* background-color: var(--white); */
  }
}
.warna {
  /* background-color: var(--white); */
  overflow: auto;
  overflow-y: hidden;
}
.padingcustom::-webkit-scrollbar {
  height: 10px !important;
  width: 10px;
}
.padingcustom::-webkit-scrollbar-thumb {
  background-color: rgba(67, 67, 67, 0.194);
  border-radius: 50px 50px 50px 50px;
  height: 10px !important;
  width: 10px;
}
.padingcustom {
  padding: 32px 24px 42px 24px;
  width: 248px;
  height: 308px;
  overflow: scroll;
  overflow-x: hidden;
}
.cardReview {
  border-radius: 8px;
  background: white;
  margin-right: 1rem;
}
.cardReview:hover {
  text-decoration: none;
}
.custom-height {
  aspect-ratio: 1/1;
  border-radius: 50%;
  min-height: fit-content;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-riview {
  width: 78px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
