/* Layanan Kami */

#layanan-kami {
  background-color: var(--background);
}

.card-layanan {
  color: var(--white);
}
.card-layanan a {
  padding: 32px;
  border-radius: 8px;
  background-color: var(--primary-orange2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);

  transition: ease-in-out 0.2s all;
}
.card-layanan:hover a {
  text-decoration: none;
}
.card-hover:hover {
  background-color: var(--white);
  transition: ease-in-out 0.2s all;
}
.card-hover:hover h4 {
  color: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}
.card-hover:hover p {
  color: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}

.text-card-layanan {
  color: var(--white);
}
.text-card-layanan p {
  font-size: 14px;
}

/* Start :: Svg Change color */
.card-hover #circle-white {
  fill: var(--white);
  transition: ease-in-out 0.2s all;
}

.card-hover:hover #circle-white {
  fill: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}

.card-hover #fill-orange {
  fill: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}

.card-hover:hover #fill-orange {
  fill: var(--white);
  transition: ease-in-out 0.2s all;
}
/* End :: Svg Change color */
