#Menu {
  background-color: var(--background);
}
.pills.nav-tabs .nav-link {
  padding: 0;
}

.pills.nav-item {
  margin: 0 !important;
}
li.nav-item.menu-li.d-flex.align-items-center {
  margin-top: 0 !important;
}
.pills.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background-color: var(--white);
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  color: var(--secondary-black);
  font-weight: 700;
}

.pills.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  color: var(--white);
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--primary-orange2);
}

.pills .nav-tabs {
  border: none;
  gap: 14px;
}

@media screen and (max-width: 600px) {
  .overslider {
    border-radius: 0 !important;
  }
  .card-menu-makanan {
    width: 43% !important;
  }
  .isi-menu-kami {
    width: 77px !important;
  }
}
@media screen and (min-width: 900px) {
  .isi-menu-kami {
    width: 107px !important;
  }
}

.overslider {
  overflow: auto;
  overflow-y: hidden;
}

.card-menu-makanan {
  padding: 1.6em 1.4em;
  background-color: var(--white);
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.img-content-menu {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.isi-menu-kami {
  margin-top: 0 !important;
  margin: auto;
  width: 186px;
}
