/* Menu Kami */
#menu-kami {
  padding-bottom: 36px;
}
.pembungkus {
  background-color: var(--white);
  border-radius: 8px;
}
@media screen and (max-width: 360px) {
  .hightligt {
    padding: 2px;
    background-color: var(--primary-orange2);
    border-radius: 8px;
    font-size: 8px !important;
    font-weight: 700;
  }
}
.owl-dots {
  display: none;
}
.hightligt {
  padding: 4px;
  background-color: var(--primary-orange2);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
}
