/* Menu Paket */

#menu-paket {
  background-color: var(--background);
}
@media screen and (max-width: 600px) {
  .card-wrapper {
    height: 140px !important;
    width: 140px !important;
  }
  .card-wrapper .font-custom-paket {
    font-size: 16px !important;
  }
}
.justify-content-custom {
  justify-content: space-evenly !important;
}
.card-wrapper {
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}
.card-wrapper-text {
  opacity: 0;
  position: absolute;
  bottom: 12px;
  transition: all ease-in-out 0.2s;
}
.card-wrapper .font-custom-paket {
  color: var(--white);
  font-size: 34px;
  font-weight: 700;
}
.card-wrapper:hover .card-wrapper-text {
  opacity: 1;
}
.card-menu-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.overlay-black {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) -14.07%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all ease-in-out 0.2s;
  opacity: 0;
}
.overlay-black:hover {
  opacity: 1;
  transition: all ease-in-out 0.2s;
}
