.informasi {
  width: 100%;
  padding: 17px 91px;
  background-color: var(--cream);
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.color-bg {
  background-color: var(--background);
  padding: 10px 32px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.29);
}

.bg-white {
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.29);
}

.daftar {
  margin-top: 12px;
}

.daftar:hover {
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .nav-isi-custom {
    font-size: 14px;
    font-weight: 700;
    width: 296px;
    padding: 10px 24px 22px 24px;
    border-radius: 0 0 8px 8px;
    background-color: var(--white) !important;
  }

  .nav-item {
    margin-top: 14px;
  }
  .border-sign-up {
    background-color: var(--primary-orange2) !important;
    border-radius: 8px;
    width: 100% !important;
    color: #ffffff !important;
  }
  .border-sign-in {
    border-radius: 8px;
    width: 100% !important;
  }

  .margin-right-custom {
    margin-right: 0 !important;
  }
}
.border-sign-up {
  text-decoration: none;
  width: 130px;
  background-color: var(--white);
  border-radius: 8px;
  color: var(--tc-black1);
}
.nav-isi-custom {
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}

.border-sign-in {
  text-decoration: none;
  width: 130px;
}
.border-sign-up:hover {
  text-decoration: none;
  color: var(--primary-orange2);
}
.margin-right-custom {
  margin-right: 150px;
}
