#mouse-scroll {
  background-color: var(--background);
}
@media screen and (max-width: 360px) {
  .mouse {
    width: 25px;
    height: 50px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    left: 47% !important;
    position: absolute;
  }
}
.mouse {
  width: 25px;
  height: 50px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  left: 49%;
  position: absolute;
}
.mouse-wheel {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
