* {
  padding: 0;
  margin: 0;
  /* outline: 1px solid var(--red); */
}

:root {
  --yellow: #ffd900;
  --background: #ffb800;
  --primary-orange2: #ff9900;
  --primary-orange3: #fa8700;
  --primary-dark: #404040;
  --blue: #4028ee;
  --red: #ff4343;

  --secondary-green: #28a745;
  --secondary-black: #363636;
  --secondary-dark: #3c3c3c;
  --secondary-dark2: #19191900;
  --cream: #fff3cd;
  --secondary-brown-dark: #856404;

  --tc-black1: #191919;
  --tc-black2: rgba(77, 77, 77, 0.785);
  --tc-grey: #c7c9d9;
  --white: #ffffff;
}
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #ff9900 rgb(242, 242, 242); /* scroll thumb and track */
}

.secondary-dark {
  color: var(--secondary-dark);
}

html::-webkit-scrollbar {
  width: 1.5vw;
  height: 1cm;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 50px 50px 50px 50px;
  height: 20px;
}
@media screen and (max-width: 600px) {
  .menu-scroll::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
.menu-scroll::-webkit-scrollbar {
  height: 12px;
}
.menu-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 50px 50px 50px 50px;
  height: 20px;
}

.text-black1 {
  color: var(--tc-black1) !important;
}
.text-black2 {
  color: var(--tc-black2) !important;
}
.text-gret {
  color: var(--tc-grey) !important;
}
.text-white {
  color: var(--white);
}

@media screen and (max-width: 600px) {
  .pamplate {
    font-size: 33px !important;
    font-weight: 800 !important;
    -webkit-text-stroke-width: 1.2px !important;
    text-shadow: -2px -1px 1px rgb(54, 54, 54) !important;
  }
}
.pamplate {
  font-size: 64px;
  font-weight: 800;
  color: var(--secondary-dark2);
  -webkit-text-stroke-width: 2.4px;
  -webkit-text-stroke-color: rgb(54, 54, 54);
  text-shadow: -3px -2px 1px rgb(54, 54, 54);
}

.isi-deskripsi {
  font-size: 16px;
  font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

.playdisplay {
  font-family: "Playfair Display", sans-serif;
}
.Poppins {
  font-family: "poppins", sans-serif;
}
.s-h1 {
  font-size: 64px;
  font-weight: 800;
}
.s-h2 {
  font-size: 46px;
  font-weight: 600;
}
.s-h3 {
  font-size: 33px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
h5 {
  font-size: 16px;
}
.s-h6 {
  font-size: 14px;
  font-weight: 700;
}
.s-h7 {
  font-size: 12px;
  font-weight: 700;
}
.s-h8 {
  font-size: 10px;
  font-weight: 700;
}

.sub-1 {
  font-size: 33px;
  font-weight: 700;
}
.sub-2 {
  font-size: 24px;
  font-weight: 800;
}
.sub-3 {
  font-size: 24px;
  font-weight: 600;
}
.sub-4 {
  font-size: 14px;
  font-weight: 800;
}
.pp1 {
  font-size: 24px;
  font-weight: 500;
}
.pp2 {
  font-size: 16px;
  font-weight: 500;
}
.pp3 {
  font-size: 14px;
  font-weight: 500;
}
.pp4 {
  font-size: 12px;
  font-weight: 500;
}
.informasi {
  width: 100%;
  padding: 17px 91px;
  background-color: var(--cream);
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.color-bg {
  background-color: var(--background);
  padding: 10px 32px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.29);
}

.bg-white {
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.29);
}

.daftar {
  margin-top: 12px;
}

.daftar:hover {
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .nav-isi-custom {
    font-size: 14px;
    font-weight: 700;
    width: 296px;
    padding: 10px 24px 22px 24px;
    border-radius: 0 0 8px 8px;
    background-color: var(--white) !important;
  }

  .nav-item {
    margin-top: 14px;
  }
  .border-sign-up {
    background-color: var(--primary-orange2) !important;
    border-radius: 8px;
    width: 100% !important;
    color: #ffffff !important;
  }
  .border-sign-in {
    border-radius: 8px;
    width: 100% !important;
  }

  .margin-right-custom {
    margin-right: 0 !important;
  }
}
.border-sign-up {
  text-decoration: none;
  width: 130px;
  background-color: var(--white);
  border-radius: 8px;
  color: var(--tc-black1);
}
.nav-isi-custom {
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
}

.border-sign-in {
  text-decoration: none;
  width: 130px;
}
.border-sign-up:hover {
  text-decoration: none;
  color: var(--primary-orange2);
}
.margin-right-custom {
  margin-right: 150px;
}

@media screen and (max-width: 600px) {
  #slider-wrap .carousel-item {
    min-height: 180px !important;
  }
  .carousel-indicators {
    margin: 0 !important;
  }
  .carousel-indicators li {
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
    bottom: -36px !important;
    margin: 0 !important;
    background-position: center;
    background-size: cover;
    border: 5px solid;
    transition: all 0.3s linear ease;
  }
}

#slider-wrap .carousel-item {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: relative; */
  /* z-index: 1; */
}

#slider-wrap .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: -1;
}

#slider-wrap .carousel-item .container {
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  /* background: white; */
  transform: translate(-50%, -50%);
  text-align: center;
}

#slider-wrap .carousel-item h2 {
  font-size: 46px;
  color: var(--white);
  margin: 0 0 10px;
  opacity: 0;
}
#slider-wrap .carousel-item p {
  font-size: 24px;
  color: var(--white);
  opacity: 0;
}
#slider-wrap .carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}
#slider-wrap .carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.carousel-indicators li {
  height: 60px !important;
  width: 60px !important;
  bottom: -58px;
  border-radius: 50%;
  margin: 0 10px !important;
  background-position: center;
  background-size: cover;
  border: none;
  transition: all 0.3s linear ease;
}
.carousel-indicators li.active {
  border: 5px solid transparent;
  border-color: var(--white);
  transform: scale(1.1);
}
/* Hero */
#hero {
  background-color: var(--background);
}

.button-link-custom {
  background-color: var(--primary-orange2);
  color: white;
}
.circle-icon {
  color: var(--blue);
  transition: ease-in-out 0.2s all;
}

.circle-icon #icon-1 {
  fill: var(--white);
  transition: ease-in-out 0.2s all;
}
.button-link-custom:hover #icon-1 {
  fill: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}
.button-link-custom:hover {
  background-color: var(--white);
  color: var(--primary-orange2) !important;
}
.button-shadow-text {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Layanan Kami */

#layanan-kami {
  background-color: var(--background);
}

.card-layanan {
  color: var(--white);
}
.card-layanan a {
  padding: 32px;
  border-radius: 8px;
  background-color: var(--primary-orange2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);

  transition: ease-in-out 0.2s all;
}
.card-layanan:hover a {
  text-decoration: none;
}
.card-hover:hover {
  background-color: var(--white);
  transition: ease-in-out 0.2s all;
}
.card-hover:hover h4 {
  color: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}
.card-hover:hover p {
  color: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}

.text-card-layanan {
  color: var(--white);
}
.text-card-layanan p {
  font-size: 14px;
}

/* Start :: Svg Change color */
.card-hover #circle-white {
  fill: var(--white);
  transition: ease-in-out 0.2s all;
}

.card-hover:hover #circle-white {
  fill: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}

.card-hover #fill-orange {
  fill: var(--primary-orange2);
  transition: ease-in-out 0.2s all;
}

.card-hover:hover #fill-orange {
  fill: var(--white);
  transition: ease-in-out 0.2s all;
}
/* End :: Svg Change color */
/* Footer */
#footer {
  background-color: var(--primary-orange3);
  padding: 36px 0;
}

.custom-alamat-footer {
  margin-top: 18px;
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  .footer-row {
    padding: 32px !important;
  }
  .deskripsi-footer {
    font-family: "poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
}

.footer-row {
  padding: 0px;
}

.header-footer-text {
  font-family: "poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.sosial-media:hover a {
  text-decoration: none;
}

.copyright {
  font-family: "poppins", sans-serif;
  letter-spacing: 0.06em;
  padding-top: 52px;
  font-size: 10px;
  font-weight: 800;
  color: var(--white);
  text-align: center;
  transition: ease-in-out 0.2s all;
}
a.copyright:hover {
  font-size: 12px;
  color: var(--white);
  text-decoration: none;
  transition: ease-in-out 0.2s all;
}
.email-link {
  text-decoration: none;
  color: var(--white);
}
.email-link:hover {
  text-decoration: none;
  color: var(--white);
}

.deskripsi-footer {
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  color: var(--white);
}
.deskripsi-footer:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  border-radius: 12px;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.deskripsi-footer:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
