* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #ededed;
  --pr-color: rgb(255, 217, 0);
  --pr-secondary: #ffcc00;
  --btn-link: #ff9900;
  --white: #fff;
  --black: rgb(65, 62, 62);
  --red: rgb(240, 34, 34);
}
body {
  font-family: "Cambria", sans-serif;
}
